body {
  margin: 20px;
  font-family: Futura;
}
h1 {
  text-transform: uppercase;
}
p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
}
#aboutme h2 {
  text-transform: uppercase;
  font-size: 15px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 13px;
  text-transform: uppercase;
}
ul li {
  font-size: 13px;
}
header {
  text-align: center;
}
header ul li {
  display: inline;
}
hr {
  height: 5px;
  background-color: #000000;
}
span {
  font-style: italic;
  font-weight: bolder;
}
#aboutme img {
  float:right;
  width: 300px;
  margin-left: 10px;
}
#portfolio p {
  text-indent: 40px;
}
#aboutme {
  margin: 40px;
}
#aboutme hr {
  height: 2px;
  background: grey;
}
#aboutme h2 {
  margin-top;: 25px;
}
#aboutme p{
  margin-bottom: 20px;
}
#portfolio img {
  width: 450px;
  border: solid black 1px;
  padding: 3px;
  margin-left: 100px;
}
footer ul {
  margin-left: 40px;
}
footer ul li {
  display: inline;
}
